.App {
  max-width: 960px;
  margin: 0 auto;
}

body {
  background: #f9e8ec;
}
.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
