.App {
  max-width: 960px;
  margin: 0 auto;
}

body {
  background: #f9e8ec;
}
.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 400px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
.App a {
  color: #c86b85;
  text-decoration: none;
}
